---
import { Icon } from 'astro-icon/components';
interface Props {
  name: string;
  link?: string;
  id?: string;
  showCaret?: boolean;
  class?: string;
  icon?: boolean;
  menu?: boolean;
}

const {
  name,
  link,
  id,
  menu = false,
  showCaret = false,
  class: className,
  icon = false,
} = Astro.props;

const baseStyles: string = `transition-colors flex max-w-max rounded-lg px-3 py-2 font-normal duration-200 hover:bg-primary-200 hover:text-opacity-100 dark:hover:bg-primary-800`;

const variableStyles: (string | undefined)[] = [
  className,
  showCaret ? 'pr-1' : '',
];
---

{
  menu ? (
    <button
      class:list={[baseStyles, variableStyles]}
      aria-label={`${name} menu`}
      id={id}>
      {icon ? <Icon name={name} size={26} /> : name}
      {showCaret && (
        <Icon
          name="caret-down"
          title="caret-down"
          class="caret-icon ml-1 mt-1 size-5 lg:size-6"
        />
      )}
    </button>
  ) : (
    <a href={link} id={id}>
      <button
        class:list={[baseStyles, variableStyles]}
        aria-label={`${name} button`}>
        {icon ? <Icon name={name} size={26} /> : name}
        {showCaret && (
          <Icon
            name="caret-down"
            title="caret-down"
            class="caret-icon ml-1 mt-1 size-5 lg:size-6"
          />
        )}
      </button>
    </a>
  )
}

<style>
  .dropdown-active {
    @apply bg-primary-200 dark:bg-primary-800;
  }

  .caret-icon {
    transition: transform 0.15s ease-in-out;
    will-change: transform;
  }
  .dropdown-active .caret-icon {
    transform: rotate(180deg);
  }
</style>
