---
interface Link {
  name: string;
  url: string;
}

interface Props {
  name: string;
  links: Link[];
  showCaret: boolean;
  icon: boolean;
}

const {
  name = 'Dropdown',
  links = [],
  showCaret = false,
  icon = false,
} = Astro.props;
import Button from './Button.astro';
---

<div class="dropdown relative">
  <Button
    menu={true}
    name={name}
    class="dropdown-button"
    showCaret={showCaret}
    icon={icon}
  />
  <div
    class=`dropdown-content ${icon ? '' : 'w-full'} absolute mt-1 hidden text-balance rounded-md bg-primary-100 p-[0.5px] dark:bg-primary-800`>
    {
      links.map((link) => (
        <a
          href={link.url}
          class="m-1 block rounded-md px-2 py-2 text-sm text-dark transition-colors duration-200 hover:bg-accent-300/75 dark:text-muted-light/80 dark:hover:bg-accent-600 dark:hover:text-muted-light/95">
          {link.name}
        </a>
      ))
    }
  </div>
</div>

<script>
  const dropdowns = document.querySelectorAll('.dropdown');

  dropdowns.forEach((dropdown) => {
    const button = dropdown.querySelector('.dropdown-button');
    const content = dropdown.querySelector('.dropdown-content');

    if (button && content) {
      button.addEventListener('click', (event) => {
        content.classList.toggle('hidden');
        button.classList.toggle('dropdown-active');
        event.stopPropagation();
      });

      document.addEventListener('click', (event) => {
        if (!dropdown.contains(event.target as Node)) {
          button.classList.remove('dropdown-active');
          content.classList.add('hidden');
        }
      });
    }
  });
</script>
