---
interface Props {
  name: string;
  linkNames: string[];
  urls: string[];
  styles?: string;
}

const { name = 'Dropdown', linkNames = [], urls = [], styles = '' } = Astro.props;
import Button from './Button.astro';
---

<div class="relative flex justify-start">
  <Button name={name} id="dropdown-button" showCaret={true} />
  <div
    id="dropdown"
    class={`absolute top-14 hidden rounded-md bg-slate-800 p-[0.5px] sm:ml-2 md:w-40 ${styles}`}>
    {
      linkNames.map((linkName, index) => (
        <a
          href={urls[index]}
          class="m-1 block rounded-md px-2 py-2 text-sm hover:bg-slate-700 transition-colors duration-200">
          {linkName}
        </a>
      ))
    }
  </div>
</div>

<script>
  const button = document.getElementById('dropdown-button');
  const dropdown = document.getElementById('dropdown');

  button.addEventListener('click', (event) => {
    dropdown.classList.toggle('hidden');
    button.classList.toggle('dropdown-active');
    event.stopPropagation();
  });

  document.addEventListener('click', () => {
    button.classList.remove('dropdown-active');
    dropdown.classList.add('hidden');
  });
</script>
