---
const { platform, username, variant } = Astro.props;
import { Icon } from 'astro-icon/components';

interface Props {
  platform: string;
  username?: string;
  variant?: 'linkedIn';
}
---

<a
  href={`https://www.${
    variant === 'linkedIn' ? 'linkedin.com/in' : `${platform}.com`
  }/${username}`}>
  <Icon
    name={`${platform}`}
    size={20}
    class={`${platform}-icon`}
    title={`${platform} icon`}
  />
</a>
