---
const { platform, username, variant, ...attrs } = Astro.props;
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  platform: string;
  username?: string;
  variant?: 'linkedIn';
}
---

<a
  {...attrs}
  href={`https://www.${
    variant === 'linkedIn' ? 'linkedin.com/in' : `${platform}.com`
  }/${username}`}
  aria-label={`link to ${platform} profile for ${username}`}
  >
  <Icon
    name={`${platform}`}
    size={20}
    class={`${platform}-icon`}
  />
</a>
