---
import { formatDate } from '@utils/formatDate';
import { sortedBlogPosts } from '@utils/getSortedPosts';

const { class: className } = Astro.props;

let latestPosts = Astro.props.postCount
  ? sortedBlogPosts.slice(0, Astro.props.postCount)
  : sortedBlogPosts;

interface Props {
  postCount?: number;
  class?: string;
}
---

<ul class={`list-none pl-0 ${className}`}>
  {
    latestPosts.map((post) => (
      <li class="grid grid-cols-1 border-t pt-2 pb-8 px-2.5 sm:grid-cols-3">
        <div class="col-span-1 text-dark/75 dark:text-muted-light/60">
          {formatDate(post.data.pubDate)}
        </div>
        <div class="col-span-2 sm:text-right">
          <a
            href={`/posts/${post.slug}/`}
            aria-label={`Link to blog post: ${post.data.title}`}
            class="block text-balance text-xl font-[600] text-dark hover:text-dark/80 dark:text-light  dark:hover:text-muted-light/75">
            {post.data.title}
          </a>
        </div>
      </li>
    ))
  }
</ul>
