---
import { Icon } from 'astro-icon/components';
import { cn } from '@/lib/utils';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  name: string;
  link?: string;
  id?: string;
  showCaret?: boolean;
  class?: string;
  icon?: boolean;
  menu?: boolean;
}

const {
  name,
  link,
  id,
  menu = false,
  showCaret = false,
  class: className,
  icon = false,
  ...attrs
} = Astro.props;

const currentPath = new URL(Astro.request.url).pathname;

const baseStyles: string = `flex max-w-max items-center rounded-lg border border-transparent font-normal text-foreground/70  hover:text-foreground`;

const variableStyles: (string | undefined)[] = [
  className,
  showCaret ? 'pr-1' : '',
  icon ? 'px-1.5 py-0.5' : 'px-3 py-1',
];
---

{
  menu ? (
    <button
      {...attrs}
      class:list={[baseStyles, variableStyles]}
      aria-label={`${name} menu`}
      id={id}>
      {icon ? <Icon name={name} size={29} /> : name}
      <slot name="icon" />
      {showCaret && (
        <Icon
          name="caret-down"
          title="caret-down"
          class="caret-icon ml-1 mt-1 size-5"
        />
      )}
    </button>
  ) : (
    <a href={link} id={id}>
      <button
        {...attrs}
        class={cn(
          baseStyles,
          variableStyles,
          currentPath === link ||
            currentPath === `${link}/` ||
            (link === '/blog' && currentPath.startsWith('/posts/'))
            ? 'text-foreground'
            : ''
        )}
        aria-label={`${name} button`}>
        {icon ? <Icon name={name} size={26} /> : name}
        {showCaret && (
          <Icon
            name="caret-down"
            title="caret-down"
            class="caret-icon ml-1 mt-1 size-5"
          />
        )}
      </button>
    </a>
  )
}

<style>
  .dropdown-active {
    @apply border-border text-foreground;
  }

  .caret-icon {
    transition: transform 0.15s ease-in-out;
    will-change: transform;
  }
  .dropdown-active .caret-icon {
    transform: rotate(180deg);
  }
</style>
