---
import type { HTMLAttributes } from 'astro/types';
import Button from './Button.astro';

interface Link {
  name: string;
  href: string;
}

interface Props extends HTMLAttributes<'div'> {
  name: string;
  links: Link[];
  showCaret: boolean;
  icon: boolean;
}

const {
  name = 'Dropdown',
  links = [],
  showCaret = false,
  icon = false,
  ...attrs
} = Astro.props;
---

<div class="dropdown relative" {...attrs}>
  <Button
    menu={true}
    name={name}
    class="dropdown-button"
    showCaret={showCaret}
    icon={icon}>
    <slot name="icon" slot="icon" />
  </Button>
  <div
    class:list={[
      `dropdown-content absolute mt-1 hidden text-balance rounded-md border bg-primary-50 p-[0.5px] dark:bg-background`,
      icon ? '' : 'w-full',
    ]}>
    {
      links.map((link) => (
        <a
          href={link.href}
          class="m-1 block rounded-sm px-2 py-2 text-sm text-foreground/75 transition-colors duration-200 hover:bg-primary-200/70 hover:text-foreground dark:hover:bg-accent">
          {link.name}
        </a>
      ))
    }
  </div>
</div>

<script>
  const dropdowns = document.querySelectorAll('.dropdown');

  dropdowns.forEach((dropdown) => {
    const button = dropdown.querySelector('.dropdown-button');
    const content = dropdown.querySelector('.dropdown-content');

    if (button && content) {
      button.addEventListener('click', (event) => {
        content.classList.toggle('hidden');
        button.classList.toggle('dropdown-active');
        event.stopPropagation();
      });

      document.addEventListener('click', (event) => {
        if (!dropdown.contains(event.target as Node)) {
          button.classList.remove('dropdown-active');
          content.classList.add('hidden');
        }
      });
    }
  });
</script>
