---
import { Button } from '@components/ui/button';
import { ModeToggle } from '@components/ModeToggle';
import { SideMenu } from '@components/SideMenu';
import { CommandMenu } from '@components/CommandMenu';
import { mainLinks } from './navLinks';
import Logo from './Logo.astro';
import { AccentColorSelector } from './AccentColorSelector';
import { ProjectsDropdown } from './ProjectsDropdown';
import { sortedBlogPosts } from '@/lib/utils/getSortedPosts';
import { isActiveLink } from '@/lib/utils';
---

<header
  class="sticky top-0 z-10 flex w-full items-center border-b border-border/50 bg-background px-[clamp(0.75rem,3vw,2.5rem)] py-2">
  <Logo />
  <div class="button-container ml-2 flex w-full items-center justify-between">
    <nav>
      <span class="hidden gap-2 px-4 sm:flex">
        {
          mainLinks.map((link, index) => {
            const currentPath = new URL(Astro.request.url).pathname;
            const activeClass = isActiveLink(currentPath, link.href);

            return (
              <a href={link.href} class="rounded-md">
                <Button
                  client:load
                  aria-label={link.name}
                  key={index}
                  tabIndex={-1}
                  variant="link"
                  className={`h-9 px-2 hover:no-underline ${activeClass}`}>
                  {link.name}
                </Button>
              </a>
            );
          })
        }
        <ProjectsDropdown client:load />
      </span>
    </nav>
    <span class="flex items-center gap-2">
      <CommandMenu client:load sortedPosts={sortedBlogPosts} />
      <AccentColorSelector client:load />
      <SideMenu client:load sortedPosts={sortedBlogPosts} />
      <ModeToggle client:load />
    </span>
  </div>
</header>
