---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
import Card from '@components/Card.astro';
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;
const { ...attrs } = Astro.props;
---

<div class="card-mx card-p" {...attrs}>
  <div class="mb-4 text-2xl font-extrabold">
    <h1>projects</h1>
  </div>
  <ul class="grid list-none gap-4 pl-0 md:grid-cols-2">
    {
      projects.map((project) => (
        <li>
          <Card
            variant="bordered"
            padding="px-4 pt-3 pb-4"
            noMargin={true}>
            <div slot="content">
              <a
                aria-label="github project link"
                class="flex items-center justify-between text-[1.1rem] font-extrabold no-underline"
                href={project.data.url}>
                <span class="dark:text-light hover:dark:text-muted-light/75">
                  {project.data.title}
                </span>
                <Icon name="github" class="mx-2 opacity-70 hover:opacity-100" />
              </a>
              <p class="mb-4 mt-1.5 line-clamp-2 opacity-85 text-[0.925rem]">
                {project.data.description}
              </p>
              <div class="flex flex-wrap gap-2">
                {project.data.tags.map((tag) => (
                  <div class="rounded-xl border border-accent-400 bg-accent-50 px-2 py-1 text-sm text-accent-700/85 dark:border-accent-500/15 dark:bg-accent-500/10 dark:text-accent-300">
                    {tag}
                  </div>
                ))}
              </div>
            </div>
          </Card>
        </li>
      ))
    }
  </ul>
</div>
