---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
import Card from '@components/Card.astro';
import { Icon } from 'astro-icon/components';
---

<div class="mx-4 mt-8 px-6">
  <div class="h1 mb-4">
    <h1>Projects</h1>
  </div>
  <ul class="list-none pl-0 grid md:grid-cols-2 gap-4">
    {
      projects.map((project) => (
        <Card variant="bordered" padding="p-3.5" noMargin={true}>
          <div slot="content">
            <a
              class="flex items-center justify-between text-[1.2rem] font-semibold no-underline"
              href={project.data.url}>
              <span class="dark:text-light hover:dark:text-muted-light/75">
                {project.data.title}
              </span>
              <Icon
                name="github"
                class="mx-2 size-5 opacity-70 hover:opacity-100"
              />
            </a>
            <p class="mt-2.5 line-clamp-2 text-[0.925rem]">
              {project.data.description}
            </p>
            <div class="flex gap-2 flex-wrap">
              {project.data.tags.map((tag) => (
                <div class="rounded-xl border border-accent-400 bg-accent-50 px-2 py-1 text-sm text-accent-700/85 dark:border-accent-500/15 dark:bg-accent-500/10 dark:text-accent-300">
                  {tag}
                </div>
              ))}
            </div>
          </div>
        </Card>
      ))
    }
  </ul>
</div>
