---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
import Card from '@components/Card.astro';
import { Icon } from 'astro-icon/components';
---

<div>
  <ul class="grid list-none gap-4 pl-0 md:grid-cols-2">
    {
      projects.map((project) => (
        <li>
          <Card variant="bordered" padding="px-4 pt-3 pb-4" noMargin={true}>
            <div slot="content">
              <a
                aria-label="github project link"
                class="group flex items-center justify-between font-bold text-foreground/85 no-underline hover:text-foreground"
                href={project.data.url}>
                {project.data.title}
                <Icon
                  name="github"
                  class="mx-2 text-muted-foreground group-hover:text-foreground"
                />
              </a>
              <p class="mb-4 mt-1.5 line-clamp-2 text-[0.925rem] text-muted-foreground">
                {project.data.description}
              </p>
              <div class="flex flex-wrap gap-2">
                {project.data.tags.map((tag) => (
                  <div class="rounded-xl border border-accent-400 bg-accent-50 px-2 py-[3px] text-xs text-accent-700/85 dark:border-accent-500/15 dark:bg-accent-500/10 dark:text-accent-300">
                    {tag}
                  </div>
                ))}
              </div>
            </div>
          </Card>
        </li>
      ))
    }
  </ul>
</div>
