---
import { Button } from '@components/ui/button';
import { ModeToggle } from '@components/ModeToggle';
import { SideMenu } from '@components/SideMenu';
import { CommandMenu } from '@components/CommandMenu';
import { mainLinks } from './navLinks';
import { Dropdown } from '@components/DropdownMenu';
import { ChevronDown } from 'lucide-react';
import { projectLinks } from './navLinks';
import Logo from './Logo.astro';

const allPosts = await Astro.glob('@pages/posts/*.md');
---

<header class="flex items-center w-full border-b border-border/50 px-8 py-2">
  <Logo />
  <nav class="button-container ml-2 flex w-full items-center justify-between">
    <span class="flex gap-2 px-4">
      {
        mainLinks.map((link, index) => (
          <a href={link.href} class="rounded-md">
            <Button
              client:load
              aria-label={link.name}
              key={index}
              tabIndex={-1}
              variant="link"
              className="hidden h-9 px-2 text-muted-foreground hover:text-foreground/80 hover:no-underline sm:block">
              {link.name}
            </Button>
          </a>
        ))
      }
      <Dropdown client:load items={projectLinks}>
        Projects
        <ChevronDown
          size={12}
          className="ml-1.5 mt-[1.5px] transition-all group-data-[state='open']:rotate-180"
        />
      </Dropdown>
    </span>
    <span class="flex items-center gap-2">
      <CommandMenu client:load posts={allPosts} />
      <SideMenu client:load />
      <ModeToggle client:load />
    </span>
  </nav>
</header>
