---
import { Button } from '@components/ui/button';
import { ModeToggle } from '@components/ModeToggle';
import { SideMenu } from '@components/SideMenu';
import { CommandMenu } from '@components/CommandMenu';
import { mainLinks } from './navLinks';
import { Dropdown } from '@components/DropdownMenu';
import { ChevronDown } from 'lucide-react';
import { projectLinks } from './navLinks';
import Logo from './Logo.astro';
import { AccentColorSelector } from './AccentColorSelector';

const allPosts = await Astro.glob('@pages/posts/*.md');
---

<header class="flex w-full items-center border-b border-border/50 px-8 py-2">
  <Logo />
  <div class="button-container ml-2 flex w-full items-center justify-between">
    <nav>
      <span class="hidden gap-2 px-4 sm:flex">
        {
          mainLinks.map((link, index) => (
            <a href={link.href} class="rounded-md">
              <Button
                client:load
                aria-label={link.name}
                key={index}
                tabIndex={-1}
                variant="link"
                className="h-9 px-2 text-muted-foreground hover:text-foreground/80 hover:no-underline">
                {link.name}
              </Button>
            </a>
          ))
        }
        <Dropdown client:load items={projectLinks} variant="link">
          Projects
          <ChevronDown
            size={12}
            className="ml-1.5 mt-[1.5px] transition-all group-data-[state='open']:rotate-180"
          />
        </Dropdown>
      </span>
    </nav>
    <span class="flex items-center gap-2">
      <CommandMenu client:load posts={allPosts} />
      <AccentColorSelector client:load />
      <SideMenu client:load />
      <ModeToggle client:load />
    </span>
  </div>
</header>
