---
const { frontmatter, headings } = Astro.props;
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import TableOfContents from '../components/TableOfContents.astro';
import '/src/styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
    <title>{frontmatter.title}</title>
  </head>
  <NavBar />
  <div class="flex justify-center">
    <div class="xl:w-[240px]"></div>
    <article
      class="prose prose-invert max-w-xs prose-h1:pt-2 prose-hr:border-sky-400 prose-hr:border-opacity-60 sm:max-w-sm md:max-w-lg lg:max-w-2xl xl:max-w-3xl">
      <div class="mb-1 flex justify-start">
        <span
          class="written-by max-w-fit rounded-md bg-sky-700 bg-opacity-25 px-2 py-1 text-sm text-sky-400 text-opacity-95">
          Written by {frontmatter.author} on {frontmatter.pubDate}
        </span>
      </div>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>
      <slot />
    </article>
    <div class="hidden min-h-full lg:block">
      <TableOfContents headings={headings} />
    </div>
  </div>
  <Footer />

  <style>
    html {
      @apply bg-slate-950 text-slate-200;
      min-height: 100dvh;
    }
    body {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  </style>

  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            const id = entry.target.getAttribute('id');
            const tocLink = document.querySelector(`.toc a[href="#${id}"]`);

            if (entry.isIntersecting) {
              tocLink.classList.add('active');
            } else {
              tocLink.classList.remove('active');
            }
          });
        },
        {
          rootMargin: '0px',
          threshold: 0.1,
        }
      );

      // Target all headings that should be observed
      document.querySelectorAll('article h2, article h3').forEach((heading) => {
        observer.observe(heading);
      });
    });
  </script>


</html>
