---
const { frontmatter, headings } = Astro.props;
import NavBar from '@components/NavBar.astro';
import Footer from '@components/Footer.astro';
import TableOfContents from '@components/TableOfContents.astro';
import '@styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
    <title>{frontmatter.title}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Bassim Shahidy",
        "jobTitle": "IT Technician",
        "worksFor": {
          "@type": "Organization",
          "name": "NYC Bar Association"
        },
        "description": "Bassim Shahidy is an IT specialist with experience in information technologies, audio visual technologies, and computer science. Bassim also has a vast set of academic interests including history, political science, and philosophy.",
        "url": "https://bassimshahidy.com",
        "contactPoint": {
          "@type": "ContactPoint",
          "email": "bassim@bassimshahidy.com",
          "contactType": "professional"
        }
      }
    </script>
  </head>
  <NavBar />
  <div class="mx-6 flex justify-center">
    <div class="xl:w-[240px]"></div>
    <article
      class="prose dark:prose-invert max-w-sm sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl prose-h1:pt-2
      prose-a:decoration-accent-400 prose-a:underline-offset-[3px] prose-a:transition-colors prose-a:duration-100 hover:prose-a:text-accent-300
      prose-hr:border-accent-500
      dark:prose-hr:border-accent-400 dark:prose-hr:border-opacity-60">
      <div class="mb-1 flex justify-start">
        <span
          class="written-by max-w-fit rounded-md bg-accent-300/25 px-2 py-1 text-sm text-accent-500 dark:bg-accent-700/25 dark:text-accent-400">
          Written by {frontmatter.author} on {frontmatter.pubDate}
        </span>
      </div>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>
      <slot />
    </article>
    <div
      class="hidden min-h-full prose-a:transition-colors prose-a:duration-100 lg:block">
      <TableOfContents headings={headings} />
    </div>
  </div>
  <Footer />
  <style>
    html {
      @apply bg-primary-50;
    }

    html.dark {
      @apply bg-primary-950;
    }

    html {
      min-height: 100dvh;
      scroll-padding-top: 4rem;
    }
    body {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  </style>


</html>
