---
const { frontmatter, headings } = Astro.props;
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import TableOfContents from '../components/TableOfContents.astro';
import '/src/styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
    <title>{frontmatter.title}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Bassim Shahidy",
        "jobTitle": "IT Technician",
        "worksFor": {
          "@type": "Organization",
          "name": "NYC Bar Association"
        },
        "description": "Bassim Shahidy is an IT specialist with experience in information technologies, audio visual technologies, and computer science. Bassim also has a vast set of academic interests including history, political science, and philosophy.",
        "url": "https://bassimshahidy.com",
        "contactPoint": {
          "@type": "ContactPoint",
          "email": "bassim@bassimshahidy.com",
          "contactType": "professional"
        }
      }
    </script>
  </head>
  <NavBar />
  <div class="flex justify-center">
    <div class="xl:w-[240px]"></div>
    <article
      class="prose prose-invert max-w-xs
      prose-h1:pt-2 hover:prose-a:text-sky-300
      prose-code:rounded-md prose-code:bg-gray-800/75 prose-code:p-1 prose-code:font-normal prose-code:text-sky-400
      prose-hr:border-sky-400 prose-hr:border-opacity-60
      sm:max-w-sm md:max-w-lg lg:max-w-2xl xl:max-w-3xl">
      <div class="mb-1 flex justify-start">
        <span
          class="written-by max-w-fit rounded-md bg-sky-700 bg-opacity-25 px-2 py-1 text-sm text-sky-400 text-opacity-95">
          Written by {frontmatter.author} on {frontmatter.pubDate}
        </span>
      </div>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>
      <slot />
    </article>
    <div class="hidden min-h-full lg:block">
      <TableOfContents headings={headings} />
    </div>
  </div>
  <Footer />

  <style>
    html {
      @apply bg-slate-950;
      min-height: 100dvh;
      scroll-padding-top: 4rem;
    }
    body {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  </style>

  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            const id = entry.target.getAttribute('id');
            const tocLink = document.querySelector(`.toc a[href="#${id}"]`);

            if (entry.isIntersecting) {
              tocLink.classList.add('active');
            } else {
              tocLink.classList.remove('active');
            }
          });
        },
        {
          rootMargin: '0px',
          threshold: 0.1,
        }
      );

      // Target all headings that should be observed
      document.querySelectorAll('article h2, article h3').forEach((heading) => {
        observer.observe(heading);
      });
    });
  </script>


</html>
