---
const { frontmatter } = Astro.props;
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import '/src/styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
    <title>{frontmatter.title}</title>
  </head>
  <NavBar />
  <article
    class="prose prose-invert prose-hr:border-sky-400 prose-hr:border-opacity-60 prose-h1:pt-2 max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-2xl">
    <div class="flex justify-start mb-1">
      <span
        class="written-by rounded-md py-1 px-2 text-sm bg-opacity-25 bg-sky-700 text-sky-400 text-opacity-95 max-w-fit">
        Written by {frontmatter.author} on {frontmatter.pubDate}
      </span>
    </div>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <slot />
  </article>
  <Footer />

  <style>
    html {
      @apply bg-slate-950;
      @apply text-slate-200;
      min-height: 100dvh;
    }
    body {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  </style>
</html>
